# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/

# Android
android/key.properties
android/local.properties
android/generated/
android/app/generated/
android/.gradle
android/captures/
android/gradle/wrapper/gradle-wrapper.jar
android/app/src/main/assets/

# iOS
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/fonts/
ios/Flutter/start_up_info.json
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.*

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/runner/resources/app_icon.ico

# MacOS
macos/Flutter/generated_plugin_registrant.swift

# Web
web/icons/
web/favicon.png
web/manifest.json

# API Keys and Secrets / Environment Variables
.env
.env.*
*.env
env/
lib/api_keys.dart
lib/secrets.dart
lib/config/api_config.dart
google-services.json
GoogleService-Info.plist
firebase_options.dart
lib/firebase_options.dart
